.form-wrap {
  background-color: var(--background);
  border-radius: 28px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  min-width: 312px;
  min-height: 543px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* --------------------start Header */
.icon {
  cursor: pointer;
}

.header-form {
  display: flex;
  justify-content: center;
}

.header-form h2 {
  width: 100%;
  color: var(--very-light-gray);
  font-size: 24px;
  font-weight: 400;
  margin: 0;
  text-align: center;
}
/* --------------------End Header */

/* --------------------start content */

.input-group {
  padding: 15px 10px;
  width: 233px;
  height: 56px;
  text-align: left;
  border-radius: 4px 4px 0 0;
  background-color: var(--dark-grey);
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group:not(:last-child) {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  color: var(--light-purple);
  font-size: 12px;
  margin-bottom: 5px;
}

.input-group input {
  background-color: transparent;
  width: 100%;
  border: none;
  font-size: 16px;
}
.input-group input::placeholder {
  color: var(--mid-grey);
}

/* --------------------start footer */
.box-container button {
  width: 100%;
  height: 40px;
  padding: 10px;
  border: none;
  background-color: transparent;
  border: 1px solid var(--light-gray);
  border-radius: 100px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: var(--light-purple);
}

.box-container button:hover {
  background-color: #3d3d3d9c;
}

/* --------------------End footer */
