/* pagination */

.pagination-bar {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.pagination-item {
    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item:hover {
    background-color: var(--light-gray);
    color: var(--background);
}

.pagination-item.active {
    background-color: var(--very-light-gray);
    color: var(--background);
}

.pagination-icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-icon:hover {
    color: var(--light-gray);
}

.pagination-icon.disabled {
    cursor: not-allowed;
}

.pagination-icon.disabled:hover {
    color: inherit;
}

/* button */
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid var(--light-gray);
    border-radius: 100px;
    font-size: 14px;
    font-weight: 500;
    color: var(--light-purple);
}

.button:hover {
    background-color: #3d3d3d9c;
}

/* spinner */
.spinner {
    border: 2px solid var(--light-gray);
    border-radius: 50%;
    border-top: 2px solid var(--light-purple);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* page spinner */
.page-spinner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    color: var(--very-light-gray);
}

/* message */
.message {
    display: flex;
    align-items: center;
    color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 300px;
    height: 70px;
    padding: 25px;
    position: absolute;
    bottom: 20px;
    left: -300px;
    transition: all .5s;
    background-color: #1c81af;
}

.message.show {
    left: 20px;
}

.message.success {
    background-color: var(--purple);
}

.message.error {
    background-color: #e03b3b;
}

.message span {
    width: 100%;
}